@model IEnumerable<Chuong_3.Models.LopHoc>
<style>
    #sp {
        color: #ffffff !important; /* trắng */
        text-decoration: none;
    }
    #sp:hover {
        color: #ffc107 !important; /* vàng */
    }
</style>
<ul class="lh-lg">
    <li>@Html.ActionLink("Toàn bộ Sinh Viên", "Index", "Sinh_Vien", null, new { id = "sp" })</li>
        @foreach (var lop in Model)
        {
            <li>
                @Html.ActionLink(lop.TenLop, "DanhSachSinhVien", "Sinh_Vien", new { lopId = lop.MaLop },new { id = "sp" })
            </li>
        }
</ul>

