
@{
    ViewBag.Title = "Tinh_Tien_Dien";
}


<div class="container col-12 col-md-6 col-4">
    <div class="row">
        <div class="table">
            <table class="table table-bordered ">
                <tbody>
                    <tr>
                        <td class="fw-bold">Chủ hộ:</td>
                        <td>Lê Thị Hà</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Số điện tiêu thụ:</td>
                        <td>@ViewBag.SoDien KW</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Tiền phải trả:</td>
                        <td>@ViewBag.Tien Đồng</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

